---
apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{SONARQUBE_CONFIGMAP_NAME}}"
  namespace: "{{SONARQUBE_NAMESPACE}}"
data:
  SONAR_JDBC_USERNAME: "{{SONAR_JDBC_USERNAME}}"
  SONAR_JDBC_PASSWORD: "{{SONAR_JDBC_PASSWORD}}"
  SONAR_EMBEDDEDDATABASE_PORT: "{{SONAR_EMBEDDEDDATABASE_PORT}}"
  SONAR_JDBC_URL: "{{SONAR_JDBC_URL}}"
  SONAR_JDBC_MAXACTIVE: "{{SONAR_JDBC_MAXACTIVE}}"
  SONAR_JDBC_MAXIDLE: "{{SONAR_JDBC_MAXIDLE}}"
  SONAR_JDBC_MINIDLE: "{{SONAR_JDBC_MINIDLE}}"
  SONAR_JDBC_MAXWAIT: "{{SONAR_JDBC_MAXWAIT}}"
  SONAR_JDBC_MINEVICTABLEIDLETIMEMILLIS: "{{SONAR_JDBC_MINEVICTABLEIDLETIMEMILLIS}}"
  SONAR_JDBC_TIMEBETWEENEVICTIONRUNSMILLIS: "{{SONAR_JDBC_TIMEBETWEENEVICTIONRUNSMILLIS}}"
  SONAR_WEB_JAVAOPTS: "{{SONAR_WEB_JAVAOPTS}}"
  SONAR_WEB_JAVAADDITIONALOPTS: "{{SONAR_WEB_JAVAADDITIONALOPTS}}"
  SONAR_WEB_HOST: "{{SONAR_WEB_HOST}}"
  SONAR_WEB_CONTEXT: "{{SONAR_WEB_CONTEXT}}"
  SONAR_WEB_PORT: "{{SONAR_WEB_PORT}}"
  SONAR_WEB_HTTP_MAXTHREADS: "{{SONAR_WEB_HTTP_MAXTHREADS}}"
  SONAR_WEB_HTTP_MINTHREADS: "{{SONAR_WEB_HTTP_MINTHREADS}}"
  SONAR_WEB_HTTP_ACCEPTCOUNT: "{{SONAR_WEB_HTTP_ACCEPTCOUNT}}"
  SONAR_AUTH_JWTBASE64HS256SECRET: "{{SONAR_AUTH_JWTBASE64HS256SECRET}}"
  SONAR_WEB_SESSIONTIMEOUTINMINUTES: "{{SONAR_WEB_SESSIONTIMEOUTINMINUTES}}"
  SONAR_WEB_SYSTEMPASSCODE: "{{SONAR_WEB_SYSTEMPASSCODE}}"
  SONAR_WEB_SSO_ENABLE: "{{SONAR_WEB_SSO_ENABLE}}"
  SONAR_WEB_SSO_LOGINHEADER: "{{SONAR_WEB_SSO_LOGINHEADER}}"
  SONAR_WEB_SSO_NAMEHEADER: "{{SONAR_WEB_SSO_NAMEHEADER}}"
  SONAR_WEB_SSO_EMAILHEADER: "{{SONAR_WEB_SSO_EMAILHEADER}}"
  SONAR_WEB_SSO_GROUPSHEADER: "{{SONAR_WEB_SSO_GROUPSHEADER}}"
  SONAR_WEB_SSO_REFRESHINTERVALINMINUTES: "{{SONAR_WEB_SSO_REFRESHINTERVALINMINUTES}}"
  SONAR_SECURITY_REALM: "{{SONAR_SECURITY_REALM}}"
  SONAR_AUTHENTICATOR_DOWNCASE: "{{SONAR_AUTHENTICATOR_DOWNCASE}}"
  LDAP_URL: "{{LDAP_URL}}"
  LDAP_BINDDN: "{{LDAP_BINDDN}}"
  LDAP_BINDPASSWORD: "{{LDAP_BINDPASSWORD}}"
  LDAP_AUTHENTICATION: "{{LDAP_AUTHENTICATION}}"
  LDAP_REALM: "{{LDAP_REALM}}"
  LDAP_CONTEXTFACTORYCLASS: "{{LDAP_CONTEXTFACTORYCLASS}}"
  LDAP_STARTTLS: "{{LDAP_STARTTLS}}"
  LDAP_FOLLOWREFERRALS: "{{LDAP_FOLLOWREFERRALS}}"
  LDAP_USER_BASEDN: "{{LDAP_USER_BASEDN}}"
  LDAP_USER_REQUEST: "{{LDAP_USER_REQUEST}}"
  AP_USER_REALNAMEATTRIBUTE: "{{AP_USER_REALNAMEATTRIBUTE}}"
  LDAP_USER_EMAILATTRIBUTE: "{{LDAP_USER_EMAILATTRIBUTE}}"
  LDAP_GROUP_BASEDN: "{{LDAP_GROUP_BASEDN}}"
  LDAP_GROUP_REQUEST: "{{LDAP_GROUP_REQUEST}}"
  LDAP_GROUP_IDATTRIBUTE: "{{LDAP_GROUP_IDATTRIBUTE}}"
  SONAR_CE_JAVAOPTS: "{{SONAR_CE_JAVAOPTS}}"
  SONAR_CE_JAVAADDITIONALOPTS: "{{SONAR_CE_JAVAADDITIONALOPTS}}"
  SONAR_SEARCH_JAVAOPTS: "{{SONAR_SEARCH_JAVAOPTS}}"
  SONAR_SEARCH_JAVAADDITIONALOPTS: "{{SONAR_SEARCH_JAVAADDITIONALOPTS}}"
  SONAR_SEARCH_PORT: "{{SONAR_SEARCH_PORT}}"
  SONAR_SEARCH_HOST: "{{SONAR_SEARCH_HOST}}"
  SONAR_UPDATECENTER_ACTIVATE: "{{SONAR_UPDATECENTER_ACTIVATE}}"
  HTTP_PROXYHOST: "{{HTTP_PROXYHOST}}"
  HTTP_PROXYPORT: "{{HTTP_PROXYPORT}}"
  HTTPS_PROXYHOST: "{{HTTPS_PROXYHOST}}"
  HTTPS_PROXYPORT: "{{HTTPS_PROXYPORT}}"
  HTTP_AUTH_NTLM_DOMAIN: "{{HTTP_AUTH_NTLM_DOMAIN}}"
  SOCKSPROXYHOST: "{{SOCKSPROXYHOST}}"
  SOCKSPROXYPORT: "{{SOCKSPROXYPORT}}"
  HTTP_PROXYUSER: "{{HTTP_PROXYUSER}}"
  HTTP_PROXYPASSWORD: "{{HTTP_PROXYPASSWORD}}"
  HTTP_NONPROXYHOSTS: "{{HTTP_NONPROXYHOSTS}}"
  SONAR_LOG_LEVEL: "{{SONAR_LOG_LEVEL}}"
  SONAR_LOG_LEVEL_APP: "{{SONAR_LOG_LEVEL_APP}}"
  SONAR_LOG_LEVEL_WEB: "{{SONAR_LOG_LEVEL_WEB}}"
  SONAR_LOG_LEVEL_CE: "{{SONAR_LOG_LEVEL_CE}}"
  SONAR_LOG_LEVEL_ES: "{{SONAR_LOG_LEVEL_ES}}"
  SONAR_PATH_LOGS: "{{SONAR_PATH_LOGS}}"
  SONAR_LOG_ROLLINGPOLICY: "{{SONAR_LOG_ROLLINGPOLICY}}"
  SONAR_LOG_MAXFILES: "{{SONAR_LOG_MAXFILES}}"
  SONAR_WEB_ACCESSLOGS_ENABLE: "{{SONAR_WEB_ACCESSLOGS_ENABLE}}"
  SONAR_NOTIFICATIONS_DELAY: "{{SONAR_NOTIFICATIONS_DELAY}}"
  SONAR_PATH_DATA: "{{SONAR_PATH_DATA}}"
  SONAR_PATH_TEMP: "{{SONAR_PATH_TEMP}}"
  SONAR_TELEMETRY_ENABLE: "{{SONAR_TELEMETRY_ENABLE}}"
  SONAR_SEARCH_HTTPPORT: "{{SONAR_SEARCH_HTTPPORT}}"
